<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClGAYWGTEaS5Lp3nJClgs0VUgWy_pb5Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>1083717029986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cnguyen.SmartScan</string>
	<key>PROJECT_ID</key>
	<string>smartscan-d082c</string>
	<key>STORAGE_BUCKET</key>
	<string>smartscan-d082c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083717029986:ios:6aae1bae6815f63be5813b</string>
</dict>
</plist>